@model ProjektListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/KoraciNavigacija.cshtml", Model.IdProjekta)
@Html.Partial("~/Views/Shared/NovaAlternativaPopup.cshtml", Model)
@Html.Partial("~/Views/Shared/UrediAlternativuPopup.cshtml")

<div class="projekt_controller_container">

    <h2 class="srednji_naslov" onclick="prikaziPopup()">Alternative</h2>
        @foreach (Alternativa alternativa in Model.ListaAlternativa)
        {
            var idAlternative = alternativa.id;
            var nazivAlternative = alternativa.naziv;
            var opisAlternative = alternativa.opis;

            
            <div class="kartica_alternativa">
                <div class="kartica_alternativa_podkartica">
                    <p class="kartica_alternativa_podkartica_naziv">
                        @alternativa.naziv
                    </p>
                    <p class="kartica_alternativa_podkartica_opis">
                        @alternativa.opis
                    </p>
                    <div class="kartica_alternativa_podkartica_linkovi">
                        <img src="~/Images/urediIcon.png" onclick="@String.Format("prikaziPopupUrediAlternativu('{0}','{1}','{2}')", alternativa.id, alternativa.naziv, alternativa.opis);"/>
                        <img src="~/Images/deleteIcon.png"  onclick="location.href='@Url.Action("BrisiAlternativu", "Alternative", new { idAlternative = alternativa.id })'"/>
                    </div>
                </div>
                @if (alternativa.vrijednost != null && alternativa.vrijednost != 0)
                {
                    <p class="kartica_alternativa_krug">

                    </p>
                }
            </div>


            @*<tr class="tablica_alternativa_redak">
                <td>
                    @alternativa.naziv
                </td>
                <td>
                    @alternativa.opis
                </td>
                <td>
                    @if(alternativa.vrijednost == null)
                    {
                        <p>Vrijednost alternative još nije dostupna</p>
                    }else
                    {
                        @alternativa.vrijednost
                    }
                </td>
                <td>
                    <a onclick="@String.Format("prikaziPopupUrediAlternativu('{0}','{1}','{2}')", idAlternative, nazivAlternative, opisAlternative);">Uredi alternativu</a>
                </td>
                <td>
                    <a onclick="location.href='@Url.Action("BrisiAlternativu", "Alternative", new { idAlternative = alternativa.id })'">Briši alternativu</a>
                </td>
            </tr>*@
        }

    <div class="gumb_dodaj_alternativu" onclick="prikaziPopupNovaAlternativa()">
        <img src="~/Images/plus_icon.png" />
    </div>

</div>